{% extends 'base.html.twig' %}

{% block title 'Exercices Symfony 4' %}

{% block body %}

    <h1>Exercice SF4</h1>

    <div class="response">
        {{ response.date }} -
        {{ response.day_long }} -
        {{ response.condition }}
    </div>


{% endblock %}