body{
    background-color: #313131;
}

h1{
    color: #C9C9C9;
}

.response{
    color:#e0e0e0;
}

.weather_day{
    border : solid #718C00 2px;
    border-radius: 15px;
    margin : 10px;
    padding: 10px;
}

h4{
    color:#aacd4e;
    font-size: 20px;
    text-decoration: underline;
}

.weather_day .title{
    font-weight: bold;
}

.weather_day .inline_info{
    display: inline-block;
}

.weather_day .day_info{
    margin-bottom: 2px;
}

.top-info{
    min-height: 100px;
}

.response{
    min-height: 2000px;
}

.weather_day{
    min-height:200px;
    min-width: 250px;
}
